mixin buttonIcon(options)
  a.btnIcon-animation(href=options.link)
    .flex.justify-between.items-center
      p=options.content
      .icon.flex.items-center
        img(src=options.icon, alt=options.content)
        
mixin buttonBorder(options)
  - var attributes = {};
  if options.icon
    - attributes.class = "flex justify-between items-center"
  else
    - attributes.class = "text-center"
  a.btnBorder-animation(href=options.link class=options.classList)
    div&attributes(attributes)
      if options.icon
        img(src=options.icon, alt=options.content)
      p=options.content