footer#contact.px-4(class="bg-[#EBEBEB] pt-16 xl:pt-32 mt-8 xl:mt-32")
  a.goTop(href="#body") 
    img.w-full(src=`${root}/images/icon/gotop.svg`, alt="goTop")
  .container
    .grid.grid-cols-12
      .col-span-12.col-start-1(class="xl:col-span-10 xl:col-start-2")
        h2.text-4xl.text-center(class="md:text-5xl xl:text-7xl font-bold pb-12 text-[#AE8657]")=i18n.footer.title
        .grid.grid-cols-2.gap-8
          .col-span-2.text-center.bg-white.p-4(class="lg:p-8 lg:py-14 md:col-span-1 rounded-[20px]")
            .icon(class="w-[45px] xl:w-[72px] mx-auto")
              img.w-full(src=`${root}/images/icon/phone.svg`, alt="phone")
            p.my-4.text-md(class="lg:text-xl")=i18n.footer.phone.title
            a(href=`tel:${i18n.footer.phone.info[1]}` class="hover:text-[#AE8657] lg:text-5xl").duration-300.text-3xl.font-bold
              span.text-xl=i18n.footer.phone.info[0]
              | #{i18n.footer.phone.info[1]}
          .col-span-2.text-center.bg-white.p-8.p-4(class="lg:p-8 lg:py-14 md:col-span-1 rounded-[20px]")
            .icon(class="w-[45px] xl:w-[72px] mx-auto")
              img.w-full(src=`${root}/images/icon/mail.svg`, alt="mail")
            p.my-4.text-md(class="lg:text-xl")=i18n.footer.email.title
            +buttonBorder({
              "link": "mailto:info@blessvo.com",
              "content": i18n.footer.email.info,
              "classList": "border border-slate-500 after:bg-white/[0.7] hover:after:w-full text-xl",
            })
          .col-span-2.bg-white.p-20.p-4(class="lg:p-8 lg:py-14 rounded-[20px]")
            p.my-4.text-md(class="lg:text-xl")=i18n.footer.form.info
            form#contactForm(action="")
              .grid(class="md:grid-cols-2 md:gap-6")
                input(type='text' name='name' required placeholder=i18n.footer.form.name+'*')
                input(type='text' name='phone' required placeholder=i18n.footer.form.phone+'*')
              input(type='mail' name='email' required autocomplete="email" placeholder=i18n.footer.form.email+'*')
              textarea(type='text' name='content' rows="5" required placeholder=i18n.footer.form.comment+'*')
              .flex.content-center.items-start
                .pr-4
                  canvas#canvas.flex-auto(width='150' height='40')
                  p.py-2(class="!text-xs")=i18n.footer.form.refresh
                .w-full#vad-group
                  input#vad(class="!mb-1" type='text' name='vad' placeholder=i18n.footer.form.verification+'*')
                  span.hidden.text-rose.text-sm=i18n.footer.form.enter_again
              button.submit(type="submit")=i18n.footer.form.submit
              p#submit-success.text-sm.text-center.hidden=i18n.footer.form.submit_success
              p#submit-error.text-sm.text-rose.text-center.hidden=i18n.footer.form.submit_error
              
              
    p.text-slate-600.text-center.py-12 Copyright © #{year} #{i18n.footer.copyright}.All Right Reserved.