.navbar.fixed.top-0.left-0.w-full.py-4.z-20.px-4(class="bg-white/[0.5]")
  .container.flex.justify-between.items-center
    //- logo
    a.logo.w-32(href=`${BASE_URL}/` class="sm:w-32 md:w-40")
      img.inline-block.w-full(src=`${root}/images/logo.svg`, alt=i18n.website.title)
    .flex.items-center
      //- 導覽列清單
      nav.px-3.hidden(class="lg:block")
        ul.flex.items-center
          each item in i18n.website.nav  
            li
              a.px-3(class="hover:text-[#AE8657] ease-in-out duration-300" href=`${BASE_URL}/${item.link}`)=item.name
      a(href=`${BASE_URL}/#contact`).text-white.text-center.px-3.py-4.rounded-full(class="bg-[#AE8657] sm:px-6")
        img.pb-1(class="w-[28px] sm:pb-2 sm:w-[40px] mx-auto" src=`${root}/images/icon/bi-send.svg`, alt=i18n.website.contact)
        span=i18n.website.contact  
    