extends layout-default

block content
  .banner.px-4
    .container
      .w-full(class="pt-[340px] sm:pt-[400px] rounded-[20px] bg-center bg-cover bg-[url('../images/banner.jpg')]")
        .p-4.pb-8(class="sm:p-10")
          //- 標語
          h1.text-white.mb-4.banner-slogan
            | #{i18n.slogan[0]}
            br
            span(class="text-[#AE8657]") #{i18n.slogan[1]}
            | #{i18n.slogan[2]}
          //- 副標
          p.text-white.font-light.leading-normal(class="md:text-xl")=i18n.introduce
        //- 裝飾
        .text-center.translate-y-2
          img.mx-auto(src=`${root}/images/mask.png`, alt="")
          
  #about.px-4.py-16.relative(class="md:py-40")
    .container
      .grid.grid-cols-12
        .col-span-12(class="md:col-span-4 md:col-start-1 xl:col-span-3 xl:col-start-2")
          div(class="md:text-right")
            //- 標語
            h2.main-title.title-baseline.inline-block.pb-6=i18n.about.title
            //- 副標
            p.ml-auto.text-left.text-2xl.leading-normal(class="md:tracking-[0.2em] md:[writing-mode:vertical-lr]")=i18n.about.subTitle[0]
              br
              span(class="text-[#AE8657]") #{i18n.about.subTitle[1]}
        .col-span-12.pt-12(class="md:col-span-6 md:col-start-6 md:pt-24")
          //- 內文
          p.main-info=i18n.about.info
          //- 錨點清單
          .grid.gap-4.pt-10.grid-cols-2(class="xl:grid-cols-3")
            each val in i18n.about.anchor
              a(href=`${BASE_URL}/${val.link}`).service-item.w-full.rounded-2xl.bg-center.bg-cover.relative(style=`background-image: url(${BASE_URL}/${val.image})` class="pt-[130%]")
                .absolute.text-white.service-item-info(class="top-1/2 left-4")
                  div=val.en
                  .main-info.text-white=val.cn
                .absolute.service-item-icon(class="bottom-4 right-4 w-[30px] md:opacity-0")
                  img.w-full(src=`${root}/images/icon/bi-arrow-right-circle.svg`, alt=val.en)
    //- 裝飾
    .absolute.bottom-0(class="left-1/2 transform -translate-x-1/2 translate-y-[82%] origin-center rotate-180")
      img.mx-auto(src=`${root}/images/mask.png`, alt="")      
  //- 管理顧問
  #management.px-4.py-16(class="bg-[#EBEBEB] md:py-40")
    .container
      .grid.grid-cols-12
        .col-span-12(class="md:col-start-1 md:col-span-3 xl:col-start-2")
          div.inline-block(class="md:text-right xl:text-left sticky top-[150px] left-auto")
            //- 管理顧問標題
            h2.main-title.title-baseline.font-medium.inline-block.pt-8=i18n.management.title
            //- 管理顧問錨點清單
            #management-anchor-list.list-group.anchor-list.text-right.mt-8.divide-y.border-y.hidden(class="border-black/[0.3] divide-black/[0.3] md:block")
              each val, index in i18n.management.nav
                a.list-group-item.list-group-item-action.p-2.block.text-lg(href=val.link class="text-black/[0.3]")=val.name
              
        .col-span-12.pt-12(class="md:col-span-7 md:col-start-5 md:pt-8" data-bs-spy="scroll" data-bs-target="#management-anchor-list" data-bs-offset="0")
          p.main-info=i18n.management.info
          //- 境外公司
          #overseas(class="before:content-[''] before:h-[150px] before:w-full before:block before:-mt-[150px]")
            h3.main-subTitle.pt-16.pb-4=i18n.management.overseas.title
            p.main-info.mb-12=i18n.management.overseas.info
            //- 境外公司國家列表
            each val in i18n.management.overseas.country
              .py-8.flex.justify-between.country-item.cursor-pointer
                h4.main-subTitle(class="ease-in-out duration-500")=val.name
                div.flex.items-center
                  //- 境外公司國旗
                  .flag
                    img(src=val.image, alt=val.name)
                  .icon
              //- 境外公司資訊表格
              .country-item-info.fixed.max-h-screen.h-full.w-full.overflow-auto.top-0.left-0.z-20(class="bg-black/[0.7]" data-state="false")
                .p-4.relative.pb-24(class="md:p-8 xl:p-12")
                  .info-card.bg-white.p-4(class="md:p-8 xl:p-12 max-w-[800px] mx-auto rounded-2xl")
                    h4(class="text-lg xl:text-xl ease-in-out duration-500 mb-4")=val.name
                    each data in val.table
                      .flex.main-info.items-stretch 
                        .flex-none.p-4.border.bg-slate-100.text-base(class="border-slate-[#818181] md:p-6")=data[0]
                        .flex-1.p-4.border.bg-white.text-base(class="border-slate-[#818181] md:p-6")=data[1]
                  .close-btn.absolute.cursor-pointer(class="left-1/2 bottom-4 md:left-auto md:right-2 md:bottom-auto md:top-6 -translate-x-1/2 w-[45px] bg-black rounded-full")
                    img.w-full(src=`${root}/images/icon/bi-x-circle-fill.svg`, alt="close")
          //- 台灣公司
          #local(class="before:content-[''] before:h-[150px] before:w-full before:block before:-mt-[150px]")
            h3.main-subTitle.subTitle-baseline.pt-16.pb-4=i18n.management.local.title
            p.main-info=i18n.management.local.info
            .py-12
              p.main-info.pb-4=i18n.management.local.process.title
              ul.list-decimal.pl-6
                each val in i18n.management.local.process.list
                  li.main-info.pb-4=val
            p.main-info.pb-4=i18n.management.local.process.info
          //- 銀行開戶
          #account(class="before:content-[''] before:h-[150px] before:w-full before:block before:-mt-[150px]")
            h3#account.main-subTitle.subTitle-baseline.pt-16.pb-4=i18n.management.account.title
            p.main-info=i18n.management.account.info
            p.main-info.py-4=i18n.management.account.feature.title
            .py-4
              each val in i18n.management.account.feature.list
                .flex.main-info.items-stretch 
                  .flex-none.p-4.border.bg-slate-100(class="border-slate-[#818181] md:p-6")=val[0]
                  .flex-1.p-4.border.bg-white(class="border-slate-[#818181] md:p-6")=val[1]
          //- 秘書服務
          #secretary(class="before:content-[''] before:h-[150px] before:w-full before:block before:-mt-[150px]")
            h3.main-subTitle.subTitle-baseline.pt-16.pb-4=i18n.management.secretary.title
            p.main-info=i18n.management.secretary.info
            .py-12
              p.main-info.pb-4=i18n.management.secretary.process.title
              ul.list-decimal.pl-6
                each val in i18n.management.secretary.process.list
                  li.main-info.pb-4=val
  //- 投資移民       
  #investment.px-4.py-16(class="md:py-40")
    .container
      .grid.grid-cols-12
        .col-span-12(class="md:col-start-1 md:col-span-3 xl:col-start-2")
          div.inline-block(class="md:text-right xl:text-left sticky top-[150px] left-auto")
            h2.main-title.title-baseline.font-medium.inline-block.pt-8=i18n.investment.title
            //- 投資移民 錨點清單
            #investment-anchor-list.list-group.anchor-list.text-right.mt-8.divide-y.border-y.hidden(class="border-black/[0.3] divide-black/[0.3] md:block")
              each val, index in i18n.investment.nav
                a.list-group-item.list-group-item-action.p-2.block.text-lg(href=val.link class="text-black/[0.3]")=val.name
          
        .col-span-12.pt-12(class="md:col-span-7 md:col-start-5 md:pt-8" data-bs-spy="scroll" data-bs-target="#investment-anchor-list" data-bs-offset="0")
          #situation
            h3.main-subTitle.subTitle-baseline.pb-4(class="md:pt-28")=i18n.investment.situation.title
            each val in i18n.investment.situation.info
              p.main-info.mb-4=val
          #features
            h3.main-subTitle.subTitle-baseline.pt-16.pb-4=i18n.investment.features.title
            p.main-info=i18n.investment.features.info
            .w-full 
              .relative(class="pt-[100%]")
                .svg-container.mt-8(class="absolute top-0 left-0")
                  svg(width='976' height='921' viewBox='0 0 976 921' fill='none' xmlns='http://www.w3.org/2000/svg')
                    ellipse(cx='460.57' cy='623.852' rx='446.941' ry='264.715' transform='rotate(18.8886 460.57 623.852)' fill='#F2F2F2')
                    text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Inter' font-size='36' font-weight='500' letter-spacing='0em')
                      tspan(x='456' y='446.091') 服務原則
                    g
                      path(d='M954.812 602.067C954.093 604.927 953.293 607.772 952.412 610.602L951.935 610.454C951.496 611.864 951.036 613.271 950.556 614.674C950.076 616.077 949.577 617.471 949.06 618.855L949.529 619.03C948.491 621.806 947.38 624.545 946.197 627.246L945.739 627.045C944.552 629.753 943.292 632.423 941.961 635.053L942.407 635.279C941.071 637.919 939.663 640.52 938.184 643.082L937.751 642.832C936.277 645.386 934.733 647.901 933.12 650.377L933.539 650.65C931.928 653.123 930.249 655.556 928.504 657.95L928.1 657.655C926.366 660.032 924.566 662.371 922.702 664.67L923.09 664.985C921.231 667.277 919.308 669.53 917.323 671.743L916.95 671.409C914.992 673.592 912.973 675.737 910.894 677.844L911.25 678.195C909.179 680.293 907.049 682.353 904.861 684.374L904.522 684.007C902.367 685.998 900.155 687.952 897.889 689.869L898.212 690.25C895.968 692.147 893.672 694.007 891.323 695.829L891.016 695.434C888.689 697.239 886.311 699.008 883.883 700.74L884.173 701.147C881.789 702.848 879.356 704.513 876.876 706.143L876.601 705.725C874.147 707.337 871.647 708.915 869.101 710.458L869.36 710.885C866.845 712.409 864.287 713.899 861.685 715.354L861.441 714.917C858.885 716.346 856.288 717.742 853.65 719.105L853.88 719.549C851.257 720.904 848.595 722.225 845.894 723.513L845.679 723.062C843.042 724.319 840.369 725.544 837.659 726.738L837.861 727.195C835.161 728.384 832.425 729.542 829.654 730.667L829.466 730.204C826.756 731.305 824.013 732.375 821.236 733.414L821.412 733.883C818.653 734.916 815.862 735.918 813.04 736.89L812.878 736.418C810.106 737.372 807.303 738.298 804.471 739.194L804.622 739.67C801.817 740.558 798.983 741.416 796.121 742.245L795.981 741.765C793.16 742.582 790.312 743.371 787.437 744.131L787.565 744.614C784.722 745.366 781.854 746.09 778.96 746.786L778.843 746.299C775.984 746.987 773.101 747.647 770.194 748.279L770.3 748.767C767.427 749.392 764.531 749.99 761.612 750.561L761.516 750.07C758.629 750.635 755.72 751.173 752.789 751.685L752.875 752.177C749.978 752.683 747.06 753.163 744.121 753.617L744.045 753.123C741.137 753.571 738.21 753.995 735.264 754.392L735.331 754.888C732.413 755.281 729.477 755.65 726.522 755.993L726.465 755.496C723.544 755.835 720.605 756.15 717.649 756.439L717.698 756.937C714.764 757.224 711.813 757.487 708.846 757.726L708.806 757.227C705.877 757.462 702.932 757.674 699.972 757.861L700.004 758.36C697.057 758.546 694.094 758.709 691.117 758.847L691.094 758.348C688.162 758.484 685.216 758.597 682.256 758.687L682.271 759.187C679.313 759.276 676.341 759.343 673.356 759.386L673.349 758.886C670.418 758.928 667.474 758.947 664.518 758.944L664.518 759.444C661.559 759.441 658.588 759.415 655.605 759.367L655.613 758.867C652.679 758.819 649.733 758.749 646.777 758.657L646.761 759.157C643.81 759.065 640.847 758.951 637.874 758.815L637.897 758.315C634.957 758.181 632.006 758.024 629.046 757.846L629.016 758.345C626.074 758.168 623.123 757.97 620.162 757.75L620.199 757.251C617.254 757.032 614.301 756.792 611.338 756.53L611.294 757.028C608.365 756.769 605.427 756.49 602.48 756.189L602.531 755.692C599.587 755.391 596.635 755.069 593.675 754.727L593.617 755.223C590.699 754.885 587.773 754.527 584.84 754.148L584.904 753.652C581.976 753.274 579.041 752.875 576.1 752.456L576.029 752.951C573.11 752.534 570.184 752.098 567.252 751.641L567.329 751.147C564.419 750.694 561.502 750.22 558.58 749.727L558.497 750.22C555.578 749.726 552.654 749.213 549.724 748.68L549.814 748.188C546.923 747.662 544.027 747.116 541.126 746.551L541.031 747.041C538.128 746.475 535.22 745.89 532.307 745.284L532.409 744.795C529.526 744.195 526.638 743.576 523.746 742.938L523.638 743.426C520.758 742.791 517.873 742.135 514.984 741.461L515.098 740.974C512.218 740.301 509.335 739.61 506.448 738.898L506.328 739.384C503.471 738.68 500.611 737.957 497.747 737.216L497.873 736.732C495.011 735.99 492.147 735.23 489.28 734.45L489.148 734.933C486.303 734.159 483.455 733.367 480.605 732.556L480.742 732.075C477.906 731.268 475.068 730.443 472.228 729.598L472.086 730.078C469.247 729.234 466.407 728.371 463.564 727.49L463.713 727.012C460.904 726.141 458.093 725.252 455.282 724.344L455.128 724.82C452.315 723.911 449.5 722.985 446.684 722.039L446.843 721.565C445.436 721.093 444.029 720.616 442.622 720.134C441.214 719.653 439.81 719.168 438.408 718.679L438.243 719.151C435.439 718.173 432.646 717.182 429.866 716.176L430.036 715.706C427.258 714.701 424.492 713.682 421.738 712.65L421.562 713.118C418.776 712.074 416.002 711.016 413.242 709.944L413.423 709.478C410.661 708.405 407.912 707.319 405.177 706.22L404.99 706.684C402.24 705.579 399.504 704.461 396.781 703.329L396.973 702.867C394.229 701.727 391.5 700.573 388.784 699.406L388.586 699.866C385.869 698.698 383.165 697.517 380.475 696.323L380.678 695.866C377.961 694.659 375.258 693.44 372.57 692.207L372.362 692.662C369.665 691.425 366.984 690.176 364.318 688.914L364.532 688.462C361.855 687.195 359.193 685.915 356.547 684.623L356.327 685.072C353.655 683.766 350.997 682.448 348.356 681.117L348.581 680.67C345.942 679.34 343.319 677.998 340.712 676.643L340.481 677.086C337.838 675.713 335.213 674.327 332.604 672.929L332.84 672.488C330.228 671.089 327.633 669.676 325.055 668.252L324.813 668.69C322.216 667.255 319.636 665.807 317.073 664.348L317.321 663.913C314.739 662.443 312.175 660.96 309.629 659.465L309.376 659.897C306.825 658.399 304.293 656.89 301.78 655.37L302.039 654.942C299.489 653.4 296.958 651.845 294.447 650.279L294.183 650.704C291.67 649.136 289.176 647.558 286.702 645.968L286.972 645.547C284.47 643.939 281.989 642.319 279.527 640.689L279.251 641.105C276.776 639.466 274.322 637.815 271.888 636.152L272.17 635.74C269.721 634.067 267.293 632.383 264.887 630.688L264.599 631.097C262.166 629.383 259.754 627.659 257.365 625.923L257.659 625.519C255.266 623.78 252.895 622.031 250.546 620.272L250.247 620.672C247.859 618.883 245.495 617.083 243.154 615.273L243.46 614.877C241.122 613.069 238.807 611.25 236.516 609.421L236.204 609.812C233.871 607.95 231.563 606.077 229.28 604.194L229.598 603.808C227.314 601.924 225.054 600.03 222.821 598.126L222.496 598.506C220.228 596.573 217.986 594.63 215.771 592.677L216.101 592.302C213.876 590.341 211.678 588.37 209.507 586.39L209.17 586.759C206.971 584.753 204.8 582.738 202.657 580.713L203 580.35C200.841 578.31 198.711 576.262 196.61 574.204L196.26 574.561C194.135 572.48 192.04 570.39 189.975 568.292L190.332 567.941C188.246 565.822 186.192 563.694 184.169 561.559L183.806 561.902C181.761 559.744 179.748 557.577 177.768 555.402L178.138 555.065C176.135 552.866 174.165 550.658 172.229 548.443L171.853 548.772C169.896 546.533 167.973 544.286 166.085 542.032L166.468 541.711C164.557 539.431 162.683 537.143 160.844 534.848L160.454 535.161C158.593 532.838 156.769 530.509 154.983 528.173L155.38 527.87C153.573 525.508 151.805 523.139 150.076 520.765L149.672 521.06C147.917 518.651 146.203 516.236 144.529 513.817L144.941 513.532C143.251 511.089 141.603 508.641 139.997 506.188L139.579 506.462C137.944 503.965 136.352 501.463 134.804 498.957L135.23 498.694C133.672 496.172 132.159 493.645 130.692 491.115L130.259 491.366C128.759 488.779 127.305 486.189 125.9 483.595L126.339 483.356C124.929 480.753 123.566 478.147 122.253 475.538L121.806 475.763C120.46 473.09 119.165 470.415 117.922 467.738L118.376 467.527C117.126 464.835 115.928 462.14 114.783 459.445L114.323 459.64C113.158 456.896 112.048 454.152 110.994 451.407L111.461 451.227C110.394 448.449 109.384 445.67 108.432 442.892L107.959 443.054C106.997 440.247 106.094 437.44 105.251 434.635L105.73 434.491C104.872 431.635 104.076 428.78 103.342 425.928L102.858 426.052C102.118 423.173 101.442 420.296 100.831 417.423L101.32 417.319C100.702 414.416 100.151 411.516 99.6677 408.622L99.1746 408.705C98.6837 405.767 98.262 402.834 97.9104 399.907L98.4069 399.847C98.0539 396.909 97.7718 393.976 97.5614 391.051L97.0627 391.087C96.8495 388.121 96.7097 385.163 96.6446 382.212L97.1444 382.201C97.0791 379.242 97.0889 376.291 97.1749 373.35L96.6751 373.336C96.7616 370.374 96.9252 367.422 97.1667 364.481L97.6651 364.522C97.9069 361.577 98.2272 358.643 98.6269 355.721L98.1316 355.653C98.5324 352.723 99.0129 349.805 99.574 346.9L100.065 346.995C100.624 344.1 101.264 341.218 101.984 338.351L101.499 338.229C102.218 335.369 103.018 332.523 103.899 329.693L104.376 329.842C104.816 328.431 105.275 327.024 105.755 325.622C106.235 324.219 106.734 322.825 107.251 321.441L106.783 321.266C107.82 318.489 108.931 315.75 110.115 313.049L110.573 313.25C111.759 310.542 113.019 307.873 114.351 305.242L113.905 305.016C115.241 302.377 116.649 299.776 118.127 297.214L118.56 297.464C120.034 294.91 121.578 292.394 123.191 289.918L122.772 289.645C124.383 287.173 126.062 284.74 127.808 282.346L128.212 282.64C129.945 280.263 131.745 277.925 133.61 275.626L133.221 275.311C135.08 273.019 137.003 270.766 138.989 268.552L139.361 268.886C141.319 266.703 143.338 264.558 145.417 262.452L145.062 262.101C147.133 260.003 149.262 257.943 151.45 255.922L151.789 256.289C153.945 254.297 156.156 252.343 158.423 250.427L158.1 250.045C160.343 248.149 162.64 246.289 164.989 244.466L165.295 244.861C167.622 243.056 170 241.288 172.429 239.556L172.138 239.148C174.523 237.448 176.956 235.783 179.436 234.153L179.71 234.571C182.164 232.958 184.665 231.381 187.21 229.838L186.951 229.41C189.466 227.887 192.025 226.397 194.626 224.942L194.87 225.379C197.426 223.949 200.023 222.553 202.661 221.191L202.432 220.746C205.054 219.392 207.716 218.071 210.417 216.782L210.633 217.234C213.269 215.977 215.942 214.751 218.652 213.558L218.451 213.1C221.151 211.911 223.887 210.754 226.657 209.628L226.846 210.092C229.555 208.991 232.299 207.921 235.075 206.881L234.9 206.413C237.658 205.38 240.449 204.377 243.271 203.405L243.434 203.878C246.206 202.923 249.008 201.998 251.84 201.102L251.689 200.625C254.494 199.738 257.329 198.88 260.191 198.051L260.33 198.531C263.151 197.714 265.999 196.925 268.874 196.165L268.746 195.681C271.589 194.93 274.458 194.206 277.351 193.51L277.468 193.996C280.327 193.309 283.21 192.649 286.118 192.017L286.011 191.528C288.884 190.903 291.78 190.305 294.699 189.735L294.795 190.225C297.682 189.661 300.591 189.122 303.522 188.611L303.436 188.118C306.333 187.612 309.252 187.133 312.19 186.679L312.267 187.173C315.174 186.724 318.101 186.301 321.048 185.903L320.981 185.408C323.898 185.014 326.834 184.646 329.789 184.303L329.847 184.799C332.768 184.46 335.706 184.146 338.662 183.856L338.614 183.359C341.547 183.071 344.498 182.808 347.466 182.57L347.506 183.068C350.434 182.833 353.379 182.622 356.339 182.435L356.308 181.936C359.255 181.75 362.217 181.587 365.195 181.449L365.218 181.948C368.15 181.812 371.096 181.699 374.056 181.609L374.041 181.109C376.998 181.019 379.97 180.953 382.955 180.91L382.962 181.41C385.893 181.368 388.837 181.348 391.793 181.351L391.794 180.851C394.752 180.854 397.724 180.88 400.707 180.929L400.699 181.429C403.632 181.477 406.578 181.547 409.535 181.639L409.55 181.139C412.502 181.231 415.464 181.345 418.437 181.481L418.415 181.98C421.355 182.115 424.305 182.271 427.266 182.449L427.296 181.95C430.237 182.127 433.189 182.326 436.149 182.546L436.112 183.045C439.057 183.263 442.011 183.504 444.973 183.765L445.017 183.267C447.947 183.526 450.885 183.806 453.831 184.107L453.78 184.604C456.724 184.905 459.677 185.226 462.637 185.569L462.694 185.072C465.612 185.41 468.538 185.769 471.471 186.148L471.407 186.643C474.335 187.022 477.27 187.421 480.212 187.84L480.282 187.345C483.202 187.761 486.128 188.198 489.06 188.655L488.983 189.149C491.893 189.602 494.809 190.076 497.731 190.569L497.814 190.076C500.733 190.569 503.657 191.082 506.587 191.616L506.498 192.108C509.388 192.634 512.284 193.18 515.185 193.745L515.281 193.254C518.184 193.82 521.092 194.406 524.004 195.011L523.902 195.501C526.786 196.1 529.673 196.719 532.565 197.358L532.673 196.869C535.554 197.505 538.438 198.16 541.327 198.835L541.213 199.322C544.093 199.994 546.976 200.686 549.863 201.397L549.983 200.912C552.84 201.616 555.7 202.338 558.564 203.08L558.438 203.564C561.3 204.305 564.165 205.066 567.032 205.845L567.163 205.363C570.008 206.136 572.856 206.928 575.707 207.74L575.57 208.22C578.405 209.027 581.243 209.853 584.083 210.697L584.226 210.218C587.064 211.062 589.905 211.925 592.747 212.806L592.599 213.284C595.408 214.155 598.218 215.044 601.029 215.952L601.183 215.476C603.997 216.384 606.811 217.311 609.627 218.256L609.468 218.73C610.875 219.203 612.282 219.68 613.69 220.161C615.097 220.643 616.502 221.128 617.903 221.617L618.068 221.144C620.873 222.122 623.665 223.114 626.445 224.12L626.275 224.59C629.054 225.595 631.82 226.613 634.573 227.645L634.749 227.177C637.535 228.222 640.309 229.28 643.07 230.352L642.889 230.818C645.65 231.89 648.399 232.976 651.135 234.075L651.321 233.611C654.071 234.716 656.807 235.835 659.53 236.967L659.338 237.428C662.082 238.569 664.812 239.723 667.528 240.89L667.725 240.43C670.443 241.598 673.146 242.779 675.836 243.973L675.633 244.43C678.35 245.636 681.053 246.856 683.741 248.088L683.95 247.634C686.646 248.87 689.327 250.119 691.994 251.382L691.78 251.833C694.457 253.101 697.118 254.38 699.764 255.673L699.984 255.224C702.657 256.529 705.314 257.848 707.955 259.179L707.73 259.625C710.369 260.955 712.993 262.298 715.6 263.653L715.83 263.209C718.473 264.583 721.099 265.968 723.708 267.367L723.471 267.807C726.083 269.207 728.678 270.619 731.256 272.044L731.498 271.606C734.095 273.041 736.675 274.488 739.238 275.948L738.99 276.382C741.573 277.853 744.137 279.336 746.683 280.83L746.936 280.399C749.486 281.896 752.018 283.405 754.532 284.926L754.273 285.354C756.822 286.896 759.353 288.45 761.864 290.016L762.129 289.592C764.642 291.159 767.135 292.738 769.609 294.328L769.339 294.749C771.841 296.357 774.323 297.976 776.784 299.607L777.06 299.19C779.535 300.83 781.99 302.481 784.423 304.143L784.141 304.556C786.59 306.229 789.018 307.913 791.424 309.607L791.712 309.199C794.146 310.912 796.557 312.637 798.946 314.372L798.652 314.777C801.046 316.515 803.417 318.265 805.765 320.024L806.065 319.624C808.452 321.413 810.817 323.213 813.157 325.023L812.851 325.418C815.19 327.227 817.504 329.046 819.795 330.874L820.107 330.484C822.44 332.346 824.748 334.219 827.031 336.102L826.713 336.488C828.998 338.372 831.257 340.266 833.491 342.17L833.815 341.789C836.083 343.723 838.325 345.666 840.541 347.618L840.21 347.993C842.435 349.955 844.633 351.926 846.804 353.906L847.141 353.536C849.34 355.542 851.512 357.558 853.654 359.582L853.311 359.946C855.47 361.985 857.6 364.034 859.701 366.091L860.051 365.734C862.176 367.815 864.271 369.905 866.336 372.004L865.98 372.354C868.065 374.474 870.119 376.601 872.142 378.737L872.505 378.393C874.55 380.552 876.563 382.719 878.543 384.894L878.173 385.23C880.176 387.43 882.146 389.638 884.082 391.852L884.459 391.523C886.416 393.763 888.339 396.009 890.227 398.263L889.843 398.584C891.754 400.865 893.629 403.153 895.467 405.447L895.857 405.135C897.718 407.457 899.542 409.787 901.329 412.122L900.932 412.426C902.738 414.788 904.506 417.156 906.235 419.53L906.64 419.236C908.394 421.645 910.108 424.059 911.782 426.479L911.371 426.764C913.06 429.206 914.708 431.654 916.314 434.107L916.733 433.833C918.368 436.33 919.959 438.832 921.507 441.339L921.082 441.602C922.639 444.124 924.152 446.65 925.619 449.18L926.052 448.929C927.553 451.516 929.006 454.107 930.412 456.701L929.972 456.939C931.383 459.543 932.745 462.149 934.059 464.757L934.505 464.533C935.851 467.205 937.146 469.881 938.389 472.558L937.936 472.768C939.186 475.461 940.383 478.156 941.528 480.851L941.988 480.656C943.153 483.399 944.263 486.144 945.317 488.889L944.851 489.068C945.918 491.847 946.927 494.626 947.879 497.403L948.352 497.241C949.314 500.049 950.217 502.855 951.06 505.66L950.581 505.804C951.44 508.661 952.236 511.516 952.969 514.368L953.453 514.243C954.193 517.123 954.869 520 955.481 522.873L954.992 522.977C955.609 525.88 956.16 528.779 956.644 531.674L957.137 531.591C957.628 534.529 958.049 537.462 958.401 540.389L957.904 540.448C958.257 543.387 958.54 546.319 958.75 549.244L959.249 549.208C959.462 552.174 959.602 555.133 959.667 558.083L959.167 558.094C959.232 561.054 959.222 564.004 959.136 566.945L959.636 566.96C959.55 569.922 959.386 572.873 959.145 575.814L958.646 575.773C958.404 578.718 958.084 581.652 957.684 584.574L958.18 584.642C957.779 587.573 957.298 590.491 956.737 593.396L956.246 593.301C955.687 596.196 955.048 599.078 954.327 601.945L954.812 602.067Z' stroke='black' stroke-dasharray='9 9')
                    g.group
                      g.title
                        circle(cx='163.5' cy='196.5' r='163.5' fill='white')
                        circle(cx='163.5' cy='196.5' r='163' stroke='black' stroke-opacity='0.7')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Source Sans Pro' font-size='38' font-weight='600' letter-spacing='0px')
                          tspan(x='61.1328' y='174.509')
                            | Transparent
                          tspan(x='106.963' y='212.509') pricing
                        text(fill='#AE8657' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='24' letter-spacing='0px')
                          tspan(x='116' y='254.464') 價格透明
                      g.info
                        mask#path-26-inside-3_98_213(fill='white')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M50 0C41.7157 0 35 6.71573 35 15V63C35 71.2843 41.7157 78 50 78H151.221L164.5 101L177.779 78H278C286.284 78 293 71.2843 293 63V15C293 6.71573 286.284 0 278 0H50Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M50 0C41.7157 0 35 6.71573 35 15V63C35 71.2843 41.7157 78 50 78H151.221L164.5 101L177.779 78H278C286.284 78 293 71.2843 293 63V15C293 6.71573 286.284 0 278 0H50Z' fill='white')
                        path(d='M151.221 78L152.087 77.5L151.798 77H151.221V78ZM164.5 101L163.634 101.5L164.5 103L165.366 101.5L164.5 101ZM177.779 78V77H177.202L176.913 77.5L177.779 78ZM36 15C36 7.26802 42.268 1 50 1V-1C41.1634 -1 34 6.16345 34 15H36ZM36 63V15H34V63H36ZM50 77C42.268 77 36 70.732 36 63H34C34 71.8366 41.1635 79 50 79V77ZM151.221 77H50V79H151.221V77ZM165.366 100.5L152.087 77.5L150.355 78.5L163.634 101.5L165.366 100.5ZM176.913 77.5L163.634 100.5L165.366 101.5L178.645 78.5L176.913 77.5ZM278 77H177.779V79H278V77ZM292 63C292 70.732 285.732 77 278 77V79C286.837 79 294 71.8366 294 63H292ZM292 15V63H294V15H292ZM278 1C285.732 1 292 7.26801 292 15H294C294 6.16344 286.837 -1 278 -1V1ZM50 1H278V-1H50V1Z' fill='black' fill-opacity='0.7' mask='url(#path-26-inside-3_98_213)')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='20' letter-spacing='0px')
                          tspan(x='53' y='30.72') 全程收費項目合約保障，
                          tspan(x='53' y='60.72') 絕不胡亂加價。
                    g.group
                      g.title
                        circle(cx='306.5' cy='623.5' r='163.5' fill='white')
                        circle(cx='306.5' cy='623.5' r='163' stroke='black' stroke-opacity='0.7')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Source Sans Pro' font-size='38' font-weight='600' letter-spacing='0px')
                          tspan(x='170.271' y='616.509') One-stop service
                        text(fill='#AE8657' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='24' letter-spacing='0px')
                          tspan(x='234' y='658.464') 單一窗口服務
                      g.info
                        mask#path-29-inside-4_98_213(fill='white')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M122 379C113.716 379 107 385.716 107 394V500C107 508.284 113.716 515 122 515H292.221L305.5 538L318.779 515H489C497.284 515 504 508.284 504 500V394C504 385.716 497.284 379 489 379H122Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M122 379C113.716 379 107 385.716 107 394V500C107 508.284 113.716 515 122 515H292.221L305.5 538L318.779 515H489C497.284 515 504 508.284 504 500V394C504 385.716 497.284 379 489 379H122Z' fill='white')
                        path(d='M292.221 515L293.087 514.5L292.798 514H292.221V515ZM305.5 538L304.634 538.5L305.5 540L306.366 538.5L305.5 538ZM318.779 515V514H318.202L317.913 514.5L318.779 515ZM108 394C108 386.268 114.268 380 122 380V378C113.163 378 106 385.163 106 394H108ZM108 500V394H106V500H108ZM122 514C114.268 514 108 507.732 108 500H106C106 508.837 113.163 516 122 516V514ZM292.221 514H122V516H292.221V514ZM306.366 537.5L293.087 514.5L291.355 515.5L304.634 538.5L306.366 537.5ZM317.913 514.5L304.634 537.5L306.366 538.5L319.645 515.5L317.913 514.5ZM489 514H318.779V516H489V514ZM503 500C503 507.732 496.732 514 489 514V516C497.837 516 505 508.837 505 500H503ZM503 394V500H505V394H503ZM489 380C496.732 380 503 386.268 503 394H505C505 385.163 497.837 378 489 378V380ZM122 380H489V378H122V380Z' fill='black' fill-opacity='0.7' mask='url(#path-29-inside-4_98_213)')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='20' letter-spacing='0px')
                          tspan(x='130' y='421.72') 客戶從簽訂合約到最後完成 拿到移民資
                          tspan(x='130' y='451.72') 格 ，全由尼爾一條龍服務處理，客戶可
                          tspan(x='130' y='481.72') 安心等待並配合各項時期應辦事務 。
                    g.group
                      g.title
                        circle(cx='704.5' cy='227.5' r='163.5' fill='white')
                        circle(cx='704.5' cy='227.5' r='163' stroke='black' stroke-opacity='0.7')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Source Sans Pro' font-size='38' font-weight='600' letter-spacing='0px')
                          tspan(x='567.325' y='201.509')
                            | Integrated group
                          tspan(x='625.772' y='239.509') resources
                        text(fill='#AE8657' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='24' letter-spacing='0px')
                          tspan(x='632' y='281.464') 整合集團資源
                      g.info
                        mask#path-23-inside-2_98_213(fill='white')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M538 19C529.716 19 523 25.7157 523 34V93C523 101.284 529.716 108 538 108H690.221L703.5 131L716.779 108H869C877.284 108 884 101.284 884 93V34C884 25.7157 877.284 19 869 19H538Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M538 19C529.716 19 523 25.7157 523 34V93C523 101.284 529.716 108 538 108H690.221L703.5 131L716.779 108H869C877.284 108 884 101.284 884 93V34C884 25.7157 877.284 19 869 19H538Z' fill='white')
                        path(d='M690.221 108L691.087 107.5L690.798 107H690.221V108ZM703.5 131L702.634 131.5L703.5 133L704.366 131.5L703.5 131ZM716.779 108V107H716.202L715.913 107.5L716.779 108ZM524 34C524 26.268 530.268 20 538 20V18C529.163 18 522 25.1634 522 34H524ZM524 93V34H522V93H524ZM538 107C530.268 107 524 100.732 524 93H522C522 101.837 529.163 109 538 109V107ZM690.221 107H538V109H690.221V107ZM704.366 130.5L691.087 107.5L689.355 108.5L702.634 131.5L704.366 130.5ZM715.913 107.5L702.634 130.5L704.366 131.5L717.645 108.5L715.913 107.5ZM869 107H716.779V109H869V107ZM883 93C883 100.732 876.732 107 869 107V109C877.837 109 885 101.837 885 93H883ZM883 34V93H885V34H883ZM869 20C876.732 20 883 26.268 883 34H885C885 25.1634 877.837 18 869 18V20ZM538 20H869V18H538V20Z' fill='black' fill-opacity='0.7' mask='url(#path-23-inside-2_98_213)')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='20' letter-spacing='0px')
                          tspan(x='543' y='54.72') 全方位服務方式，大大增加成功機率
                          tspan(x='543' y='84.72') 完成客戶所託 。
                    g.group
                      g.title
                        circle(cx='795.5' cy='692.5' r='163.5' fill='white')
                        circle(cx='795.5' cy='692.5' r='163' stroke='black' stroke-opacity='0.7')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Source Sans Pro' font-size='38' font-weight='600' letter-spacing='0px')
                          tspan(x='676.081' y='666.509')
                            | Co-investment
                          tspan(x='744.047' y='704.509') model
                        text(fill='#AE8657' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='24' letter-spacing='0px')
                          tspan(x='724' y='746.464') 共同投資模式
                      g.info
                        mask#path-20-inside-1_98_213(fill='white')
                          path(fill-rule='evenodd' clip-rule='evenodd' d='M630 452C621.716 452 615 458.716 615 467V567C615 575.284 621.716 582 630 582H782.221L795.5 605L808.779 582H961C969.284 582 976 575.284 976 567V467C976 458.716 969.284 452 961 452H630Z')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M630 452C621.716 452 615 458.716 615 467V567C615 575.284 621.716 582 630 582H782.221L795.5 605L808.779 582H961C969.284 582 976 575.284 976 567V467C976 458.716 969.284 452 961 452H630Z' fill='white')
                        path(d='M782.221 582L783.087 581.5L782.798 581H782.221V582ZM795.5 605L794.634 605.5L795.5 607L796.366 605.5L795.5 605ZM808.779 582V581H808.202L807.913 581.5L808.779 582ZM616 467C616 459.268 622.268 453 630 453V451C621.163 451 614 458.163 614 467H616ZM616 567V467H614V567H616ZM630 581C622.268 581 616 574.732 616 567H614C614 575.837 621.163 583 630 583V581ZM782.221 581H630V583H782.221V581ZM796.366 604.5L783.087 581.5L781.355 582.5L794.634 605.5L796.366 604.5ZM807.913 581.5L794.634 604.5L796.366 605.5L809.645 582.5L807.913 581.5ZM961 581H808.779V583H961V581ZM975 567C975 574.732 968.732 581 961 581V583C969.837 583 977 575.837 977 567H975ZM975 467V567H977V467H975ZM961 453C968.732 453 975 459.268 975 467H977C977 458.163 969.837 451 961 451V453ZM630 453H961V451H630V453Z' fill='black' fill-opacity='0.7' mask='url(#path-20-inside-1_98_213)')
                        text(fill='black' xml:space='preserve' style='white-space: pre' font-family='Noto Sans TC' font-size='20' letter-spacing='0px')
                          tspan(x='635' y='492.72') 尼爾業界首創，與客戶站在同一陣線
                          tspan(x='635' y='522.72') 共同面對風險，隨時回報掌握營業現
                          tspan(x='635' y='552.72')
                            | 況，讓您每一分錢都不浪費。

          #process
            h3.main-subTitle.subTitle-baseline.pt-16.pb-4=i18n.investment.process.title
            img.w-full(class="md:w-[80%] mx-auto mb-8" src=`${root}/images/features2.svg`, alt=i18n.investment.process.title)
            img.w-full(class="md:w-[80%] mx-auto" src=`${root}/images/features3.svg`, alt=i18n.investment.process.title)
          
  #virtual.px-4.py-16(class="xl:py-20")
    .container(class="bg-[#373737] rounded-[20px] py-20")
      .grid.grid-cols-12
        .col-span-10.col-start-2
          h2.main-title.title-baseline.inline-block.pt-8.pb-12.text-white=i18n.virtual.title
          each val in i18n.virtual.info
            p.main-info.pb-4(class="text-white/[0.7]")=val
          .flex.justify-end.mt-12
            a.btnIcon-animation(href=i18n.virtual.button.link target="_blank")
              .flex.justify-between.items-center
                p=i18n.virtual.button.text
                .icon.flex.items-center
                  img(src=`${root}/images/icon/bi-arrow-up-right.svg`, alt=i18n.virtual.button.text)