- var i18n = importI18nJSON(LANG)
- var root = rootPath()
- var year = fullYear()

include includes/button.pug

html(lang=i18n.website.lang)
  head
    include includes/head.pug
  body#body
    //- 導覽列
    include includes/navbar.pug
    //- 內容
    block content
    //- footer
    include includes/footer.pug
      