@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
  --flag-url: '';
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', 'Noto Sans TC', 'sans-serif';
  }
  body {
    @apply m-0 pt-[120px] sm:pt-[136px];
  }
}

@layer components {
  .banner-slogan{
    @apply leading-normal;
    font-size: max(2.64vw, 37px);
  }
  .main-info {
    @apply text-black/[0.6] leading-relaxed tracking-wider;
    font-size: max(1.14vw, 16px);
  }
  
  .main-title{
    @apply leading-relaxed font-bold;
    font-size: max(3.64vw, 37px);
  }
  
  .title-baseline {
    @apply pt-[10px] relative;
  }
  .title-baseline::after {
    @apply content-[''] absolute left-0 top-0 xl:w-full md:w-[123.75px] w-[88.63px] h-[24px] bg-no-repeat bg-[url(../images/title.svg)] bg-contain;
  }
  .title-baseline::before {
    @apply content-[''] absolute right-0 
    xl:top-[14px] xl:h-[9px] xl:w-[calc(100%-133px)] md:top-[11.5px] md:h-[7.2px] md:w-[calc(100%-116px)] top-[8px] h-[5.8px] w-[calc(100%-84px)] bg-[#AE8657] rounded-full;
  }
  
  .main-subTitle {
    @apply leading-relaxed;
    font-size: max(1.71vw, 24px);
  }
  .subTitle-baseline {
    @apply relative mb-8;
  }
  .subTitle-baseline::after {
    @apply content-[''] absolute left-0 bottom-0 w-full h-[1.5px] bg-[#BBB]; 
  }
  .subTitle-baseline::before {
    @apply content-[''] absolute left-0 bottom-0 w-20 h-[1.5px] bg-[#AE8657] z-10; 
  }
  .btnIcon-animation{
    @apply overflow-hidden py-3 px-6 rounded-full bg-[#AE8657] inline-block;
  }
  .btnIcon-animation .icon{
    @apply w-[32px] h-[32px] relative;
  }
  .btnIcon-animation .icon::after{
    @apply content-[''] w-full h-full bg-white rounded-full ease-in-out duration-500 absolute left-0 top-0;
  }
  .btnIcon-animation p {
    @apply relative z-10 pr-12 text-white;
  }
  .btnIcon-animation:hover p {
    @apply text-[#AE8657]
  }
  .btnIcon-animation:hover .icon::after{
    @apply scale-[11] -left-4;
  }
  .btnIcon-animation .icon img {
    @apply mx-auto relative z-10 leading-[32px]
  }
  .service-item-info, .service-item-icon{
    @apply ease-in-out duration-500;
  }
  .service-item:hover .service-item-info{
    @apply -translate-y-4;
  }
  .service-item:hover .service-item-icon{
    @apply -translate-y-4 opacity-100;
  }
  
  .country-item{
    @apply relative;
  }
  .country-item::after {
    @apply content-[''] absolute left-0 top-0 w-full h-[1.5px] bg-[#BBB]; 
  }
  .country-item::before {
    @apply content-[''] absolute left-0 top-0 w-20 h-[1.5px] bg-[#AE8657] z-10 ease-in-out duration-500; 
  }
  .country-item .icon{
    @apply w-[50px] h-[50px] relative bg-white rounded-full z-10;
    
  }
  .country-item .icon:after{
    @apply content-[''] w-[15px] h-[15px] bg-[#AE8657] rounded-full ease-in-out duration-500 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .country-item .icon:before{
    @apply content-[''] w-[30px] h-[30px] bg-[url('../images/icon/bi-arrow-right.svg')] ease-in-out duration-500 absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-contain bg-no-repeat z-10 opacity-0;
  }
  
  .country-item .flag {
    @apply w-[50px] h-[50px] relative;
  }
  .country-item .flag img {
    @apply w-0 h-0 absolute left-0 top-1/2 
      -translate-x-8 
      lg:-translate-x-12
      2xl:-translate-x-20
    md:-translate-x-20 -translate-y-1/2 max-w-none ease-in-out duration-500 origin-center z-10;
  }
  
  .country-item:hover h4{
    @apply text-[#AE8657];
  }
  .country-item:hover::before {
    @apply w-full;
  }
  .country-item:hover .icon:after{
    @apply w-[77px] h-[77px];
  }
  .country-item:hover .icon:before{
    @apply opacity-100;
  }
  .country-item:hover .flag img {
    @apply 
      w-[130px] h-[130px] 
      lg:w-[180px] lg:h-[180px] 
      2xl:w-[218px] 2xl:h-[218px] 
      -translate-x-16 
      lg:-translate-x-24
      2xl:-translate-x-36;
  }
  .country-item-info[data-state="false"] {
    @apply hidden;
  }
  
  .country-item-info[data-state="true"] {
    @apply block;
  }
  
  .country-item-info{
    @apply opacity-0 ease-in-out duration-500;
  }
  .country-item-info .info-card{
    @apply opacity-0 ease-in-out duration-300 translate-y-12;
  }
  
  .country-item-info.show{
    @apply opacity-100;
  }
  
  .country-item-info.show .info-card {
    @apply opacity-100 translate-y-0;
  }
  .anchor-list .active {
    @apply text-black;
  }
  .svg-container{
    @apply w-full overflow-auto;
  }
  .svg-container svg{
    @apply w-full h-full;
  }
  #features svg .group .info{
    @apply opacity-0 ease-in-out duration-500 translate-y-12
  }
  #features svg .group:hover .info{
    @apply opacity-100 translate-y-0;
  }
  .btnBorder-animation {
    @apply py-3 px-6 rounded-full inline-block relative overflow-hidden;
  }
  .btnBorder-animation p {
    @apply pl-4;
  }
  .btnBorder-animation::after {
    @apply content-[''] w-0 h-0 rounded-full absolute left-1/2 top-1/2 ease-in duration-300 z-[-1] -translate-y-1/2 -translate-x-1/2;
  }
  .btnBorder-animation:hover::after {
    @apply pt-[100%];
  }
  #contactForm input,
  #contactForm textarea {
    @apply w-full leading-10 rounded mb-4 px-4 border border-black/[0.4] py-3;
  }
  #contactForm input:focus-visible,
  #contactForm textarea:focus-visible{
    @apply outline-black/[0.4];
  }

  #contactForm .submit {
    @apply w-full leading-10 rounded-full mb-4 py-2 bg-[#AE8657] text-white mt-8; 
  }
  footer{
    @apply relative;
  }
  footer::before {
    @apply content-[''] absolute left-0 top-0 -translate-y-3/4 w-full h-[1.5px] bg-[url(../images/icon/footer.svg)] bg-no-repeat bg-right-top bg-cover pt-[54px] md:pt-[6%] ;
  }
  .goTop {
    @apply absolute
    -top-[21px] right-[80px] w-[48px]
          md:right-[10.3%] md:w-[6%] 
          2xl:right-[10.3%] 2xl:w-[6%]
    lg:-top-[31px];
  }
}


